body {
	margin: 0;
	overflow: hidden;
}

canvas {
	position: absolute;
}

button {
	width: 150px;
	position: absolute;
	margin: 10px;
	padding: 7px;

	cursor: pointer;

	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 14px;
	text-align: center;

	border-radius: 20px;
	border: 1px #282828;
	outline: none;

	color: #3c3836;
}

button:active {
	transform: translateY(2px);
}
